@implements IDisposable
@inject StateContainer StateContainer


<h2>Nested component</h2>

<p>Nested component Property: <b>@StateContainer.SavedString</b></p>

<p>
    <MudButton Variant="Variant.Filled" Color="Color.Secondary" @onclick="ChangePropertyValue">Change</MudButton>
</p>


@code {
    protected override void OnInitialized()
    {
        StateContainer.OnChange += StateHasChanged;
    }

    private void ChangePropertyValue()
    {
        StateContainer.SavedString = $"New value set in the Nested component: {DateTime.Now}";
    }

    public void Dispose()
    {
        StateContainer.OnChange -= StateHasChanged;
    }
}
